// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.navbar-default {
    border-color: #ccc;
}
.navbar-brand {
    line-height: 30px;
    height: 60px;
}

.logo-image {
    width: 28px;
    float: left;
    margin-right: 10px;
}

.thread-content {
    textarea {
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        font-size: $font-size-base;
    }
}

.groups-list {
    a.active {
        font-weight: 600;
    }
}
