// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
/* @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; */

@import "resources/assets/bower/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "resources/assets/bower/bootswatch-sass/sandstone/variables";
@import "resources/assets/bower/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "resources/assets/bower/bootswatch-sass/sandstone/bootswatch";


input,
textarea {
    &:focus {
        outline: 0;
    }
}

.navbar-default {
    border-color: #ccc;
}
.nav-profile-thumbnail {
    padding: 10px 16px!important;
    img {
        border-radius: 40%;
        margin-right: 10px;
    }
}

.logo-image {
    width: 28px;
    float: left;
    margin-right: 10px;
}

.thread-content {
    textarea {
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        font-size: $font-size-base;
        border: 2px dashed #ddd;
    }
}

.groups-list {
    a.active {
        font-weight: 500;
    }
}

.modal {
    z-index: 1050;
}

.upload {
    cursor: pointer;
    border: 2px dashed #ccc;
    text-align: center;
}

.fs-12 {
    font-size: 12px;
}
