// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
/* @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; */

@import "resources/assets/bower/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "resources/assets/bower/bootswatch-sass/sandstone/variables";
@import "resources/assets/bower/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "resources/assets/bower/bootswatch-sass/sandstone/bootswatch";


// import dropzone

.navbar-default {
    border-color: #ccc;
}

.logo-image {
    width: 28px;
    float: left;
    margin-right: 10px;
}

.thread-content {
    textarea {
        width: 100%;
        border-radius: 3px;
        padding: 10px;
        font-size: $font-size-base;
    }
}

.groups-list {
    a.active {
        font-weight: 600;
    }
}

.modal {
    z-index: 1050;
}
